body {
    background-color: rgb(232, 218, 249);
    color: rgb(48, 1, 30);
}

/*headers*/
h1 {
    color: rgb(147, 98, 146);
}

h2 {
    color: rgb(147, 98, 146);
}

h3 {
    color: rgb(147, 98, 146);
}

h4 {
    color: rgb(147, 98, 146);
}

/*Home-only styles*/
.home-ul {
    list-style-type: none;
    width: 20%;
    padding: 20px;
    border: 5px dashed rgb(147, 98, 146);
}

.home-li {
    background-color: rgb(209, 177, 206);
    margin: 5px;
    text-align: center;
}

.big-link {
    text-decoration: none;
    font-size: 50px;
    color: rgb(48, 1, 30);
}

    .big-link:hover {
        color: rgb(147, 98, 146);
    }

/*Classes for sub-home lists*/
.big-ul {
    list-style-type: none;
    padding: 20px;
    border: 5px dashed rgb(147, 98, 146);
    width: 20%;
}

.sub-home-li {
    background-color: rgb(209, 177, 206);
    margin: 5px;
    text-align: center;
}

/*Classes for links*/
.medium-link {
    text-decoration: none;
    font-size: 25px;
    color: rgb(48, 1, 30);
}
    .medium-link:hover {
        color: rgb(147, 98, 146);
    }


.small-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(48, 1, 30);
}
    .small-link:hover {
        color: rgb(147, 98, 146);
    }

/*Classes for paragraphs*/
.code {
    color: rgb(138, 106, 108);
    border: 2px dashed rgb(138, 106, 108);
    background-color: rgb(217, 191, 197);
    padding: 10px;
    width: 50%;
}
.code-within-text {
    color: rgb(138, 106, 108);
}
.working-code {
    color: rgb(147, 98, 146);
    border: 2px dashed rgb(147, 98, 146);
    background-color: rgb(209, 177, 206);
    padding: 10px;
    width: 50%;
}

.code-in-table {
    color: rgb(138, 106, 108);
    border: 2px dashed rgb(138, 106, 108);
    background-color: rgb(217, 191, 197);
    padding: 10px;
    text-align: left;
}

.working-code-in-table {
    color: rgb(147, 98, 146);
    border: 2px dashed rgb(147, 98, 146);
    background-color: rgb(209, 177, 206);
    padding: 10px;
    text-align: left;
}

/*Classes for tables*/
table, th, td {
    border: 1px solid rgb(34, 34, 59);
    text-align: center;
}