body {
    background-color: rgb(232, 218, 249);
    color: rgb(48, 1, 30);
}

/*Home-only styles*/
.home-ul {
    list-style-type: none;
    width: 20%;
    padding: 20px;
    border: 5px dashed rgb(169, 126, 168);
}

.home-li {
    background-color: rgb(209, 177, 206);
    margin: 5px;
    text-align: center;
}

.big-link {
    text-decoration: none;
    font-size: 50px;
    color: rgb(48, 1, 30);
}

    .big-link:hover {
        color: rgb(169, 126, 168);
    }

/*Classes for sub-home lists*/
.big-ul {
    list-style-type: none;
    padding: 20px;
    border: 5px dashed rgb(169, 126, 168);
    width: 20%;
}

.sub-home-li {
    background-color: rgb(209, 177, 206);
    margin: 5px;
    text-align: center;
}

/*Classes for links*/
.medium-link {
    text-decoration: none;
    font-size: 25px;
    color: rgb(48, 1, 30);
}
    .medium-link:hover {
        color: rgb(169, 126, 168);
    }


.small-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(48, 1, 30);
}
    .small-link:hover {
        color: rgb(169, 126, 168);
    }

/*Classes for paragraphs*/
.code {
    color: rgb(138, 106, 108);
    border: 2px dashed rgb(138, 106, 108);
    background-color: rgb(217, 191, 197);
    padding: 10px;
    width: 50%;
}
.code-within-text {
    color: rgb(138, 106, 108);
}
.working-code {
    color: rgb(169, 126, 168);
    border: 2px dashed rgb(169, 126, 168);
    background-color: rgb(209, 177, 206);
    padding: 10px;
    width: 50%;
}